<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            superDevices
            <small>Manage your devices!</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        {{#if user}}
            <div class="panel panel-primary">
                <div class="register-box-body">
                    <p>Welcome {{ user.pseudo }} ! </br> Go manage your devices !</p>
                </div>
            </div>

        {{else}}
        <!-- Main row -->
            <div class="panel panel-primary">
                <div class="register-box-body">
                    <p>Welcome to superDevice! </br> Here you can manage your devices, sound's great !</p>
                </div>
            </div>

        {{/if}}
</section>
</div><!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.0
    </div>
    <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
</footer>
